
@font-face {
    font-family:"Gilroy";
    src: url("../assets/Gilroy-ExtraBold.otf") format("truetype");
  }
.custom-nav-wrapper{
    background-color:black;
    /* opacity: 0.9; */
}
#nav_container a{
    display: flex!important;
    width: 100%;
    justify-content: space-between!important;
}
.fixed-top{
    display: flex;
}
.nav-heading{
    color: white;
    font-size: 2vw;
}
#header-nav-btn{
    padding:1vw 2vw;
    border-radius: 25px;
    font-family: 'Gilroy';
    background-color: black;
    color: white;
    border-color: white;
    font-size: 1.6vw;
}
#header-nav-btn:focus {
    outline: none;
    box-shadow: none;
  }