
@font-face {
    font-family:"Gilroy-XB";
    src: url("../assets/Gilroy-ExtraBold.otf") format("truetype");
  }

@font-face {
    font-family: "Gilroy-SB";
    src: url("../assets/Gilroy-SemiBold.otf") format("truetype");
}

@font-face {
    font-family: "Gilroy-R";
    src: url("../assets/Gilroy-Regular.otf") format("truetype");
}

.custom-nav-wrapper{
    background-color:#16161d;
    justify-content: start!important;
    /* opacity: 0.9; */
}
#nav_container a{
    display: flex!important;
    width: 100%;
    justify-content: start!important;
    flex-direction: row;
}

.dot{
    color: #007FFF;
}

.fixed-top{
    display: flex;
}
.nav-heading{
    color: white;
    font-size: 2vw;
}
#header-nav-btn{
    padding:1vw 2vw;
    border-radius: 5vw;
    font-family: 'Gilroy-XB';
    background-color: black;
    color: white;
    border-color: white;
    font-size: 1.6vw;
}
#header-nav-btn:focus {
    outline: none;
    box-shadow: none;
  }

#download_brochure{
    padding: 1vw 2vw;
    border-radius: 5vw;
    font-family: "Gilroy-SB";
    background-color:#16161d; 

  
    color: white;
    
    border-width: 1px;
    border-color: white;


}
#download_brochure:focus {
    outline: none!important;
    box-shadow: none!important;
    /* background-color: white;
    color: black; */

}
#download_brochure a:hover{
    text-decoration: none;
    color: black;
    /* font-size: 2vw; */
}
@media (max-width: 768px){

    .nav-heading{
        font-size: 4.5vw;
        margin-top: 6px;
    }

#download_brochure{
    padding: 0vw 2vw;
    border-radius: 5vw;
    font-family: "Gilroy-SB";
    background-color:#16161d; 

  
    color: white;
    
    border-width: 1px;
    border-color: white;


}
}