@font-face {
    font-family:"Gilroy-XB";
    src: url("../assets/Gilroy-ExtraBold.otf") format("truetype");
  }

  @font-face {
    font-family:"Gilroy-SB";
    src: url("../assets/Gilroy-SemiBold.otf") format("truetype");
  }

  @font-face {
    font-family: "Gilroy-R";
    src: url("../assets/Gilroy-Regular.otf") format("truetype");
}

.exp_container {
    position: relative;
    background-size: cover;
    object-fit: cover;
    width: 100vw;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5%;
}

.img{
    width: 10px;
}

.exp-card-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
}


.sub-head{
    color: #007FFF;
    font-family: 'Gilroy-R';
    font-size: 1.2vw;
}
/* 
.event{
    display: flex;
    flex-direction: row;
} */

.exp-title{
    font-size: 3vw;
    font-family: 'Gilroy-R';
}

.exp-card-title{
    font-size: 1.2vw;
    font-family: 'Gilroy-R';
}

.exp-card-role{
    font-size: 1.2vw;
    font-family: 'Gilroy-R';
}

.sub-container {
    /* margin-bottom: 400px; */
    margin-bottom: 5%;
}

.anim {
    justify-content: center;
}

.exp-diagram {
    margin-top: 20%;
}

.sub-text {
    font-family: 'Gilroy-SB';
    /* font-size: 1.8vw; */
}

.heading_text {
    color: black;
    font-family: 'Gilroy-R';
    /* font-weight: 100; */
    font-size: 1.8vw;
    /* width:80vw ; */
    margin-top: 40px;
}
@media screen and (min-width: 375px) and (max-width: 767px) {
    .exp-title{
        font-size: 5vw;
        font-family: 'Gilroy-R';
        margin-top: 10%;
    }
    .fFiRhQ {
        width: 300px;
        height: 200px;
    }
    .sub-head {
        font-size: 2.2vw!important;
    }
    .OzyKl.OzyKl {
        height: 13vh;
    }
    .exp-card-title{
        font-size: 2.2vw!important;
    }
    .exp-card-role{
        font-size: 2.2vw!important;
    }
    .skills-title {
        font-size: 5vw!important;
        font-family: 'Gilroy-SB';
        margin-bottom: 20px!important;
    }
    
}

@media screen and (min-device-width: 768px) and (max-device-width: 1023px) { 
    .sub-head {
        font-size: 2.2vw!important;
    }
    .OzyKl.OzyKl {
        height: 18vh;
    }
    .exp-card-title{
        font-size: 2.2vw!important;
    }
    .exp-card-role{
        font-size: 2.2vw!important;
    }
}

@media only screen and (max-device-width: 1024px) {
}