@font-face {
    font-family:"Gilroy-XB";
    src: url("../assets/Gilroy-ExtraBold.otf") format("truetype");
  }

  @font-face {
    font-family:"Gilroy-SB";
    src: url("../assets/Gilroy-SemiBold.otf") format("truetype");
  }

  @font-face {
    font-family: "Gilroy-R";
    src: url("../assets/Gilroy-Regular.otf") format("truetype");
}

.hackathon-title{
    font-size: 3vw;
    font-family: 'Gilroy-SB';
    margin-bottom: 100px;
}

.hackathons-wrapper{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}


.hackathons-cards{
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}