@font-face {
    font-family:"Gilroy-XB";
    src: url("../assets/Gilroy-ExtraBold.otf") format("truetype");
  }

  @font-face {
    font-family:"Gilroy-SB";
    src: url("../assets/Gilroy-SemiBold.otf") format("truetype");
  }

  @font-face {
    font-family: "Gilroy-R";
    src: url("../assets/Gilroy-Regular.otf") format("truetype");
}

.interests-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.interest-title{
    font-size: 3vw;
    font-family: 'Gilroy-SB';
}

.interest-desc{
    font-size: 3vw;
    font-family: 'Gilroy-R';
}

.aws-btn {
    width: 180px;
}

.interests-title{
    font-size: 3vw;
    font-family: 'Gilroy-SB';
}

.interests-area{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    text-align: start;
}

.interest-title{
    font-family:"Gilroy-SB";
    font-size: 2vw;
    margin-top: 100px;
}

.interest-title1{
    font-family:"Gilroy-SB";
    font-size: 2vw;
    margin-top: 50px;
}

.interest-desc{
    font-family:"Gilroy-R";
    font-size: 1.5vw;
}
