@font-face {
    font-family:"Gilroy-XB";
    src: url("../assets/Gilroy-ExtraBold.otf") format("truetype");
  }

  @font-face {
    font-family:"Gilroy-SB";
    src: url("../assets/Gilroy-SemiBold.otf") format("truetype");
  }

  @font-face {
    font-family: "Gilroy-R";
    src: url("../assets/Gilroy-Regular.otf") format("truetype");
}

.magazines-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.aws-btn {
    width: 180px;
    }
   
      
.magazines-title{
    font-size: 3vw;
    font-family: 'Gilroy-SB';
}

.magazine-area{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
    text-align: start;

}

.magazine-title{
    font-family:"Gilroy-SB";
    /* font-size: 2vw;
    margin-top: 100px; */
}

.magazine-title1{
    font-family:"Gilroy-SB";
    /* font-size: 2vw;
    margin-top: 50px; */
}

.magazine-desc{
    font-family:"Gilroy-R";
   
   
}

.magazine-reads{
    font-family:"Gilroy-XB";
    font-size: 1.5vw;
}
@media screen and (min-device-width: 375px) and (max-device-width: 767px) { 
.aws-btn {
    width: 90px!important;
    height: 30px!important;
    }
    .magazine-desc{
        font-family:"Gilroy-R";
      
       
    }
    .magazine-title1 {
        font-family: "Gilroy-SB";
        /* font-size: 2vw; */
        margin-top: 30px;
    }
    .magazine-title{
        font-family:"Gilroy-SB";
        /* font-size: 2vw; */
        margin-top: 40px;
    }
    .magazines-title {
        font-size: 5vw;
        font-family: 'Gilroy-SB';
    }
    .magazine-reads {
        font-family: "Gilroy-XB";
        font-size: 2.5vw;
    }
    .paper-desc {
        margin-top: 20px;
        font-family: "Gilroy-R";
        font-size: 3.5vw;
    }
}
@media screen and (min-device-width: 767px) and (max-device-width: 1023px) { 
/* STYLES HERE */
.aws-btn {
    width: 180px!important;

    }
    .magazine-desc{
        font-family:"Gilroy-R";
        font-size: 1.5vw;
       

    }
    .magazine-title1{
        font-family:"Gilroy-SB";
        font-size: 2vw;
        margin-top: 50px;
    }
    .magazine-title{
        font-family:"Gilroy-SB";
        font-size: 2vw;
        margin-top: 100px;
    }
}
@media screen and (min-device-width: 1024px)  { 
/* STYLES HERE */
.aws-btn {
    width: 180px!important;
    }
    .magazine-desc{
        font-family:"Gilroy-R";
        font-size: 1.5vw;
       
    }
    .magazine-title1{
        font-family:"Gilroy-SB";
        font-size: 2vw;
        margin-top: 50px;
    }
    .magazine-title{
        font-family:"Gilroy-SB";
        font-size: 2vw;
        margin-top: 100px;
    }
}