@font-face {
    font-family:"Gilroy";
    src: url("../assets/Gilroy-ExtraBold.otf") format("truetype");
  }
.main_heading_area_container{
    position: relative;
    height: 100vh;
   width: 100vw;
   display:flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.main_heading_text{
    color: white;
    font-family: 'Gilroy';
    /* font-weight: 100; */
    font-size: 60px;
    width:80vw ;
   
    /* display:flex;
    justify-content: center;
    align-items: center; */
}
#header-btn{
    padding:10px 20px;
    border-radius: 25px;
    font-family: 'Gilroy';
    
}