@font-face {
    font-family: "Gilroy-XB";
    src: url("../assets/Gilroy-ExtraBold.otf") format("truetype");
}

@font-face {
    font-family: "Gilroy-SB";
    src: url("../assets/Gilroy-SemiBold.otf") format("truetype");
}

@font-face {
    font-family: "Gilroy-R";
    src: url("../assets/Gilroy-Regular.otf") format("truetype");
}

.main_heading_area_container {
    position: relative;
    /* height: 100vh; */
    width: 100vw;
    display: flex;
    margin-top: 13%;
    margin-bottom: 18%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.features_head {
    font-family: "Gilroy-XB";
    justify-content: center;
    font-size: 2vw;
    margin-top: 5%;
    display: flex;
}

.main_heading_text {
    color: rgb(248, 248, 248);
    font-family: 'Gilroy-XB';
    /* font-weight: 100; */
    font-size: 5vw;
    width: 40vw;
    /* width:80vw ; */
    /* margin-top: 80px; */
    /* display:flex;
    justify-content: center;
    align-items: center; */
}

#header-btn {
    padding: 1vw 2vw;
    border-radius: 5vw;
    font-family: 'Gilroy-XB';
    background-color: white;
    color: black;
    border: white;
    /* margin-top: 15vh; */
    font-size: 2vw;
}

#header-btn:focus {
    outline: none;
    box-shadow: none;
}

#experience-modal {
    /* background-color: whitesmoke; */
}

#contained-modal-title-vcenter {
    font-family: 'Gilroy-SB';
    /* font-size: 2vw; */
}

#experience-modal-body {
    font-family: 'Gilroy-R'!important;
    font-size: 1.5vw!important;
}

#experience-modal-footer {
    font-family: 'Gilroy-SB';
    justify-content: flex-start!important;
}

#experience-modal-button {
    padding: 0.5vw 1.5vw;
    border-radius: 5vw;
    font-family: 'Gilroy-SB';
    background-color: black;
    color: white;
    border: white;
    /* margin-top: 15vh; */
    /* font-size: 1.5vw; */
    /* width: 50%; */
}

.MuiRadio-colorSecondary.Mui-checked {
    color: #1e90ff!important;
}

#experience-modal-body .MuiFormLabel-root {
    font-family: 'Gilroy-R'!important;
}

#experience-modal-body .MuiTypography-body1 {
    font-family: 'Gilroy-R'!important;
}

.experience-modal-inputs {
    /* width: 100%!important;
    display: flex;
    flex-direction: row; */
    /* display: grid;
    grid-template-columns: 1fr 1fr ; */
}

#input-with-icon-grid {
    width: 80%!important;
}

.option-explanation {
    font-family: 'Gilroy-SB'!important;
    font-size: 1vw;
    color: #1e90ff;
}

#experience-modal-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%
}

@media (max-width: 750px) {
    #experience-modal-form {
        grid-template-columns: 1fr 1fr;
    }
}

.main_heading_logo {
    width: 7vw;
    /* height: 13vh; */
    margin-bottom: 6%;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}