@font-face {
    font-family:"Gilroy-SB";
    src: url("../assets/Gilroy-SemiBold.otf") format("truetype");
  }
.mock_container{
    /* background-image: url('../assets/b2.jpg'); */
    position: relative;
    /* height: 100vh; */
    margin-top: 10%;
    width: 100vw;
    display:flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
@media (max-width: 750px){

    .mock_container{
        width: 100vw;
        /* background-color: black; */
        justify-content: stretch;
        display: flex;
        /* height: 100vh; */
        flex-direction: column;
    }
    
}
.feature{
    flex-direction: row;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-grow: 1;
}

.app-features{
    font-family: 'Gilroy-SB';
    font-size: 1.2vw;
    margin: 2.5vh;
    display: flex;
}
@media (max-width: 750px){

    .app-features{
        font-family: 'Gilroy-SB';
        font-size: 1.2vw;
        margin: 1vh;
        display: flex;
    }
    
}
.container{
    display:flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
  }
  .mock_head{
    font-family:"Gilroy-XB";
    justify-content: center;
    font-size: 2vw;
}





