.App{
  height: 100%;
  padding: 0;
  margin: 0;
 
}
.section_1{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
  background-color:#000000;
  

}
.section_2{
  width: 50%;
  height: 50%;
}
.section_3{
  width: 50%;
  height: 50%;
}
.footer_container{
  width: 50%;
  height: 50%;
}